
   {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ravi Rathod</title>
    <link  href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>
<body>
<br>

<div class="container" >
    <div class="row" >
        <div class="col-md-3">
            <div class="card card-body h-100 border-info" id="profile-wrapper">
                 <img  id="profile-pic" src="{% static '/ravi2.jpg' %}" alt="my image" height="600px" width="500px"/>
            <hr>
            <h4>Hi I'm Ravi </h4>
            <p><i>I love coding ,doing research and collaborating</i></p>
        </div>
    </div>

        <div class="col-md-9">
            <div class="card card-body h-100 border-info" >
                <h4>My first job application lettter</h4>
                <hr>
                <p> This letter is to express my interest in your posting on Dice.com for an experienced Software Developer.
                    With a Bachelor’s degree in Computer Science, Master’s degree in Information Technology, and hands-on experience using
                    <u>python languages </u>to create and implement software applications, I am confident I will be an asset to your organization.
                    I enjoy being challenged and engaging with projects that require me to work outside my comfort and knowledge set,
                    as continuing to learn new languages and development techniques are important to me and the success of your organization.</p>

                   <p> Your listed requirements closely match my background and skills.
                       A few I would like to highlight that would enable me to contribute to your bottom line are:</p>

                   <p> ~Highly skilled in designing, testing, and developing software<br>
                    ~Thorough understanding of data structures and algorithms<br>
                    ~Knowledgeable of back-end development best practices<br>
                    ~Hands-on software troubleshooting experience<br>
                    ~Proven track record of proper documentation for future maintenance and upgrades</p>
                   <ul class="social-links" >
                       <li> <img class="social"  src="{% static '/facebook.jpeg' %}" height="100px" width="100px"/></li>
                       <li> <img class="social"  src="{% static '/insta.png' %}"  height="100px" width="100px"/></li>
                       <li> <img class="social"  src="{% static '/download.jpg' %}"  height="100px" width="100px"/></li>
                       <li> <img class="social"  src="{% static '/youtube.ico' %}"  height="100px" width="100px"/><a href ="https://www.youtube.com/channel/UCQRPlOO4ab8HwxD_O6qDxJA">click on here</a></li>
                   </ul>
            </div>
        </div>
    </div>
<br>
    <div class="row" >
        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5>My exprience as Developer</h5>
                <hr>
                <p>Full stack developer at Amazon pvd.lmt</p>
                <p>Designed ,built and managed a lab management system as a solo developer ,system supported of custumer with UI </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body h-100">
                <h5>what i know</h5>
                <hr>
                <p>Python, Django,HTML,CSS,JAVASCRIPT</p>
                <p>PS: working on python ,,MYSQL</p>
            </div>
    </div>
  </div>
    <br>
    <div class="row">
       <div class="col-md-6">
           <div class="card card-body h-100" >
               <h5>How i learn</h5>
               <p>Reverse Engeneering & Build Ugly prototypes First.</p>
               <p>I can learn just about anything by having a final product to tear apart place by place .I break the
               code where I need to figure out why things work the way they do.Documentation is just a reference</p>
           </div>
       </div>


       <div class="col-md-6">
           <div class="card card-body h-100" >
               <h5>My short Goals</h5>
               <hr>
               <p>After almost two years of supporting my system at the lab I"am ready to learn something now.I'll
               collaborating and sharing my experience with other on my blog(www.ravi.com)&youtube channel</p>
               <p> Aside from building small project I would love to enter a position where i can a part of the bigger team & learn from others with more exprience than myself</p>
           </div>
       </div>
   </div>
    <br>
</div>



</body>

 </html>